* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}
a,
li,
img {
  all: unset;
  display: inline-block; /* Ensures it behaves properly */
  cursor: pointer; /* Keeps the click behavior */
}
.puna_duzina {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.flex {
  display: flex;
  justify-content: center;
}
.main {
  flex-direction: column;
  align-items: center;
}
.donja-linija {
  border-bottom: solid rgba(139, 139, 139, 0.2) 1px;
}

/* Sirina sadrzaja */
.kontejner {
  width: 80vw;
}
/* .kontejner-main{
  width: 60vw;
} */
/* GORNJI HEADER */
.gornji_header {
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.gornji_header_text {
  color: rgb(117, 117, 117);
  font-size: 11px;
  font-weight: 600;
}

.navigacija {
  align-items: center;
}
.header_nav-menu-item {
  padding: 0 10px;
  transition: 0.2s all;
}
.header_nav-menu-item:hover {
  color: #117e99;
  cursor: pointer;
}

.nav_right-border {
  position: relative;
}
.nav_right-border::before {
  background: rgba(0, 0, 0, 0.08);
  content: "";
  width: 1px;
  height: 16px;
  position: absolute;
  display: block;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  right: 0;
}
.hader_nav-desni {
  margin-left: 15px;
  font-size: 14px;
}
.ikone {
  padding: 0 5px;
}
.ikone a {
  transition: all 0.2s ease;
  border-radius: 100%;
  display: block;
  height: 28px;
  line-height: 28px;
  width: 28px;
  text-align: center;
  text-decoration: none;
  font-size: 12.8px;
  font-size: 0.8rem;
}
.ikone:hover a {
  color: white;
  border-radius: 100%;
}
.ikone-fb:hover a {
  background-color: #3b5a9a;
}
.ikone-tw:hover a {
  background-color: #1aa9e1;
}
.ikone-li:hover a {
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
}

/* Srednji header */
.srednji_header {
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.logotip {
  width: 150px;
}

.pretraga {
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input_pretraga-lijevo {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f4f4f4;
  border-radius: 1.3rem 0 0 1.3rem;
  border: 0;
  width: 400px;
  height: 40px;
  font-size: 14px;
  padding: 0.6rem 1.4rem;
  color: #e7e7e7;
}
.input_pretraga-lijevo:focus {
  outline: none;
  color: #1d1d1d;
}
.input_pretraga-desno {
  margin-left: calc(var(--bs-border-width) * -1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #f4f4f4;
  border-radius: 0 1.3rem 1.3rem 0;
}
.pretraga_select-wrapper {
  position: relative;
}
.pretraga_select {
  background-color: transparent;
  border: 1px solid #fff;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
  color: #8d8d8d;
  height: 100%;
  font-size: 0.85rem;
  line-height: 1.85;
}
.btn-pretraga {
  background: transparent !important;
  border: 0;
  box-shadow: none !important;
  position: relative;
  cursor: pointer;
  padding: 6px 12px;
  transition: color 0.15s ease-in-out;
}
.btn-pretraga:hover {
  color: #117e99;
}
.proba {
  position: relative;
  display: inline-block;
}
.clear-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #28588f;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  display: none; /* Hidden by default */
}

/* TELEFON IKONA */
.srednji_header-telefon {
  display: flex;
  gap: 10px;
}

.telefon-desno {
  display: flex;
  flex-direction: column;
}
.telefon-desno span {
  font-size: 12px;
  font-weight: 600;
  color: #777777;
}
.telefon-desno a {
  font-size: 18px;
  font-weight: 600;
  color: rgb(21, 21, 21);
}
.telefon-desno:hover a {
  color: #117e99;
}
.srednji_header-desno {
  gap: 20px;
}
.svg-icon {
  transition: stroke 0.3s ease-in-out;
}

.svg-icon:hover circle,
.svg-icon:hover path {
  stroke: #28588f;
}
.shopping-bag {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.notification {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: rgb(248, 70, 70);
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white;
}

/* desni sidebar */
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  padding: 20px 10px 20px 20px;
  z-index: 1000;
}

.cart-sidebar .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #b8b8b8;
  cursor: pointer;
  font-weight: 100;
  font-size: 20px;
}
.close-btn:hover {
  color: #808080;
}
.cart-sidebar.open {
  right: 0;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.cart-overlay.active {
  display: block;
}
.desni_sidebar--naslov {
  font-size: 20px;
  font-weight: 700;
}
.sidebar_desni-kontejner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.sidebar_desni {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.desni_sidebar-lista {
  margin-top: 10px;
  max-height: 70vh;
  padding-right: 15px;
  overflow-y: scroll;
}
.desni_sidebar-lista::-webkit-scrollbar {
  width: 4px;
}
.desni_sidebar-lista::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.desni_sidebar-lista::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.desni_sidebar-produkt {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 2px;
  background-color: #fff;
  transition: 0.2s all ease-in-out;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.desni_sidebar-close-btn {
  position: absolute;
  top: 10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  transition: 0.2s all ease-in-out;
}
.desni_sidebar-close-btn:hover {
  color: #28588f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 11px;
  right: -9px;
  width: 18px;
  height: 18px;
}
/* .desni_sidebar-produkt:has(.desni_sidebar-close-btn:hover) {
  background-color: rgba(255, 223, 223, 0.253);
} */
.desni_sidebar-produkt--info {
  display: flex;
  padding: 2px 0;
  flex-direction: column;
}
.desni_sidebar-produkt-naslov {
  font-weight: 600;
  font-size: 14px;
}
.desni_sidebar-produkt-opis {
  padding-top: 3px;
  font-size: 12px;
}

.desni_sidebar-produkt-foto {
  width: 80px;
  height: 80px;
}
.desni_sidebar-total {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  padding-right: 15px;
}
.desni_sidebar-cijena {
  font-size: 16px;
}
.btns {
  padding: 10px 20px;
  margin-right: 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
}
.btn-view {
  background-color: #e2e2e2;
  color: #1d1d1d;
}
.btn-view:hover {
  background-color: #eeeeee;
}
.btn-checkout {
  background-color: #2a2a2a;
  color: #f4f4f4;
}
.btn-checkout:hover {
  background-color: #393939;
}

.donji-header {
  display: flex;
  gap: 30px;
}
.donji-header li {
  font-size: 13px;
  font-weight: 600;
  padding: 20px 0;
  border-top: 3px solid #fff;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.donji-header li:hover,
.donji-header li.active {
  border-top: 3px solid #0073b2;
  color: #0073b2;
}

.grid_main {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 30px;
  padding: 50px 0;
}
.kartica {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;

  /* za dugme */
  position: relative;
  overflow: hidden;
}
.produkt_foto-blok {
  position: relative;
}

.produkt_foto-blok img {
  display: block;
  transition: opacity 0.3s ease-in-out;

  width: 100%;
}

.kartica {
  position: relative;
  display: inline-block;
  overflow: hidden; /* Prevents content from overflowing */
}

.kartica.akcija::after {
  content: "Akcija";
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 11;
}

.produkt_foto-blok {
  position: relative;
  overflow: hidden;
}

/* Image settings */
.produkt_foto-blok img {
  display: block;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

/* Dark overlay effect on hover */
/* .kartica:hover .produkt_foto-blok img {
  opacity: 1; /* Darkens the image */
/* } */
.produkt_foto-blok::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s all ease-in-out;
  z-index: 6;
}

/* Button styling */
.hover-btn {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  background: rgba(0, 123, 255, 0.6);
  color: white;
  text-align: center;
  padding: 14px 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 10;
}
.hover-btn:hover {
  background: rgba(26, 114, 208, 0.973);
}
.link-na-proizvod:hover .produkt_foto-blok::after {
  background-color: rgba(0, 0, 0, 0.3);
}
.link-na-proizvod:hover .hover-btn {
  bottom: 0;
  opacity: 1;
  cursor: pointer;
}

.proizvod-info {
  padding: 10px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kategorija-proizvoda {
  font-size: 12px;
  font-weight: 600;
  color: #696969;
}
.naziv-proizvoda {
  font-size: 18px;
  font-weight: 400;
}
.stara-cijena {
  font-size: 14px;
  text-decoration: line-through;
  color: #d13b28;
}
.cijena-proizvoda {
  font-size: 20px;
  font-weight: 600;
}
.proizvod-kolicina {
  font-size: 12px;
  color: rgb(105, 105, 105);
  font-weight: 600;
}
.step-value {
  font-size: 14px;
  color: rgb(84, 84, 84);
  font-weight: 600;
}
.input-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn {
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}
.btn-delete {
  background-color: #e35454;
}
.btn-delete:hover {
  background-color: #e43f3f;
}
.btn-add {
  background-color: #007bff;
}
.btn-add:hover {
  background-color: #0056b3;
}

#counter {
  text-align: center;
  pointer-events: none;
  height: 40px;
  width: 50px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

/* paginacija */

.paginacija {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.paginacija button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
}

.paginacija button:hover {
  background-color: #0056b3;
}

.page-numbers {
  display: flex;
  gap: 5px;
}

.page-numbers span {
  padding: 8px 12px;
  background: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.page-numbers span.active {
  background: #007bff;
  color: white;
  font-weight: bold;
}

.page-numbers span:hover {
  background: #ddd;
}
.page-numbers span.active:hover {
  background: #085cb6;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 150px 0;
  background-color: #222529;
  color: #e6e6e6;
}
.footer-block{
    display: flex;
  justify-content: space-between;

}
.footer-naslov {
  font-weight: 500;
}
.footer-lijevo {
  display: flex;
  width: 30vw;
  flex-direction: column;
  gap: 20px;
}
.footer-flex {
  display: flex;
  flex-direction: column;
}
.footer-info {
  font-size: 12px;
  color: #a8a8a8;
}

.footer-desno {
  display: flex;
  width: 30vw;
  flex-direction: column;
  gap: 20px;
}
.footer-opis {
  font-size: 14px;
  color: #a8a8a8;
}
.footer-input {
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  background-color: rgb(56, 55, 60);
  color: #fff;
}
.footer-input:focus {
  outline: none;
}
.footer-btn {
  padding: 15px 20px;
  border-radius: 50px;
  width: 50%;
  justify-self: center;
  border: none;
  cursor: pointer;
  background-color: #0073b2;
  color: #fff;
  font-weight: 600;
}

.footer-btn:hover {
  background-color: #07689d;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Dark background */
    display: block; /* Show initially */
    z-index: 10;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 50vh;
    background: white;
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-width: 250px;
    text-align: center;
    display: block; /* Visible on page load */
    z-index: 9000;
}
.popup-kontejner{
    display: flex;
    height: 100%;
    gap:10px
}
.popup-lijevi{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup-logotip{
    width: 300px;
    margin-bottom: 45px;
}

.popup-naslov{
    margin-bottom: 20px;
    
}
.popup-desni{
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A7C7E7;
}
.popup-newsletter{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 50px;
}
.popup-opis{
    margin-bottom: 20px;
}
.popup-input{
    width: 70%;
    margin-bottom: 10px;
    background-color: #fff;
    color: #1d1d1d;
}
.popup-newsletter-btn{
    width: 200px;
}
/* Close button */
.close-btn-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.close-btn-popup:hover {
    color: red;
}

/* PONZIVNOST */
@media (max-width: 1024px) {
  .grid_main {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}

@media (max-width: 600px) {
  .grid_main {
    grid-template-columns: repeat(1, 1fr); /* 1 column on mobile */
  }
}
